body {
    background-color: #9aede8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

main {
    margin: 2cm;
}

h1{
    font-size: 15px;
}

h2{
    font-family: cursive;
    font-size: 40px;
    text-align: center;
    color: #464d4c;
}

ul {
    list-style-type: circle;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

